{% extends "base.html" %}
{% set active_page = 'about' %}
{% block content %}

<header class="bg-black py-5">
    <div class="container px-5">
        <div class="row gx-5 text-center">
            <h3 class="display-6 text-white">About Christina</h3>
        </div>
        <div class="row gx-5">
            <div class ="col-md-3 px-0">
                <img class="img-fluid" src="{{url_for('static', filename='/assets/aboutpagemom.jpg')}}" alt="Christina Vo" style="width:100%">
            </div>
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <!-- <h6 class="display-6 text-white mb-2">Hello! My name is Christina Vo and 
                        I am the owner of College Hair and Nails! I have served the community of South Houston for over 10 years,
                        providing haircuts to everyone with a smile!</h6> -->
                <h6 class="text-white mb-2">Hello! My name is Christina Vo and 
                    I am the owner of College Hair and Nails! I have served the community of South Houston for over 10 years,
                    providing haircuts to everyone with a smile!</h6>
                </div>
            </div>
        </div>
    </div>
</header>
    
{% endblock %}


