{% extends "base.html" %}
{% set active_page = 'appointments' %}
{% block content %}

<header class="bg-dark bg-opacity-50 py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="my-4">
                    <script src="https://cdn.supersaas.net/widget.js"></script>
                    <script class="supersaas-widget">var supersaas = new SuperSaaS("466569:collegehairnails","632792:Haircut_Appointment",{"widget_type":"frame","height":"700px"})</script>
                </div>
                </div>
            </div>
        </div>
    </div>
</header>
    
{% endblock %}


 