{% extends "base.html" %}
{% set active_page = 'appointments' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h6 class="display-6 text-light mb-2">[Insert app to create appointment]</h6>
                    <h6 class="display-6 text-muted mb-2">[Maybe also a calendar of the schedule]</h6>
                </div>
            </div>
        </div>
    </div>
</header>
    
{% endblock %}


 